.pdp-flex-container{
    display: flex;
    width: 100%;
    margin-top: 16px;
}
.preview-sec{
    width: 41%;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 150px;
  }
.desc-sec{
    width: calc(100% - 41%);
}
.pdp-title{
    margin: 0;
    font-size: 19px;
    color: var(--dark);
    text-transform: capitalize;
    font-weight: 600;
}
.pdp-flexinfo-sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
    margin-top: 4px; 
}
.pdp-item-schme {
    font-family:var(--font-opensans); 
    font-size: 12px;
    color: var(--slate-grey);
    margin: 0 0 12px 0;
}
.pdp-item-showing-seller {
    font-size: 12px;
    color: var(--marine-blue);
    margin: 0 0 12px 0;
}
.pdp-item-showing-seller span {
    font-weight: 600;
}
.share-link{
    font-size: 14px;
    font-family:var(--font-quicksand);
    color: #674cf3;
    margin:0;
    cursor: pointer !important;
}
.pdp-share-img{
    vertical-align: -16%;
    margin-right: 10px;
}
.pdp-item-mfc{
    font-family:var(--font-opensans); 
    color: var(--dark);
    margin-bottom: 4px;
    font-size: 14px;
    margin-top: 0;
    text-transform: capitalize;
}
.pdp-item-mfc span::first-letter{
    text-transform: capitalize !important;
}
.pdp-item-mfc a, .pdp-item-mfc span{
    color: var(--purpleish-blue);
    margin-left: 0.5em;
    
}
.pdp-mrp{
    font-size: 23px;
    margin-bottom: 6px;
    margin-top: 20px;
    color: var(--dark);
    font-weight: 600;
}
.ppd-packaging{
    font-family:var(--font-opensans); 
    color: var(--slate-grey);
    margin-bottom: 6px;
    font-size: 14px;
    margin-top: 0;
}
.ppd-packaging span{
    color: #272727;
    font-family:var(--font-opensans); 
    font-weight: 600;
    font-size: 16px;
}
.pdp-select-size.MuiTabs-root {
    min-height: unset;
}
.pdp-select-size .MuiTab-root {
    min-height: unset;
    line-height: 1;
    font-family:var(--font-opensans); 
    font-size: 13px;
    padding: 13px 15px;
    border: 1px solid #c3cde466;
    border-radius: 0.31em;
    margin-right: 12px;
    margin-bottom:24px;
    margin-top: 6px;
    min-width: 64px;
    color: #272727;
}
.pdp-select-size .MuiTab-textColorPrimary.Mui-selected {
    color: #272727;
    font-weight: 600;
    font-size: 13px;
    font-family:var(--font-opensans); 
    border: 1px solid rgba(0, 211, 180, 0.3) !important;
    background-color: rgba(46, 196, 182, 0.03);
}
.pdp-select-size .MuiTabs-indicator {
    background-color: transparent;
}
.pdp-seller-details{
    font-size: 16px;
    font-weight: 600;
    color: var(--marine-blue);
    margin: 0;
}
.pdp-seller-detail-table{
    margin-bottom: 24px;
    text-transform: capitalize;
}
.pdp-seller-detail-table .MuiTableCell-root{
    border-bottom:0;
    padding: 0;
    line-height: unset;
}
.pdp-seller-detail-table .MuiTableCell-head{
    border-top: 2px solid #674cf3;
    padding: 12px;
    color: var(--purpleish-blue);
    font-weight: 500;
    font-family:var(--font-quicksand); 
    font-size: 14px;
}
.pdp-seller-detail-table .MuiTableCell-body{
    border-bottom: 2.5px dashed #f6f8fd;
    padding: 12px 13px;
    color: var(--marine-blue);
    font-weight: 500;
    font-family:var(--font-quicksand); 
    font-size: 14px;
}
/* .pdp-drugcount.mob-pro-drugcount .MuiOutlinedInput-input{
    padding-top: .875em;
    padding-bottom: .875em;
} */
.pdp-drugcount{
    margin-right: 12px;
}
.pdp-drugcount.mob-pro-drugcount .MuiInputBase-root {
    padding-top: 0em;
    padding-bottom: 0em;
    
}
.pdp-drugcount-qty.MuiTableCell-root {
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: flex-end;
}
/* .colorChange{
    background-color: #5b636a;
} */
.fast-moving-addtocart.colorChange.MuiButton-containedPrimary {
    background-color: rgba(91, 99, 106, 0.5);
    border: 1px solid rgba(91, 99, 106, 0.5);
    font-size: 0.8125em;
    padding: .6em 1.38em;
    line-height: 1;
    font-family:var(--font-quicksand);
    text-transform: capitalize;
    box-shadow: none;
    transition: 0.2s all linear;
  }
.b-0{
    border: 0 !important;
}

.pdp-quick-links{
    display: flex;
    align-items: center;
    margin-top:24px;
}
.pdp-quick.quick-links.MuiButton-contained{
    padding: 10px 16px;
    font-family:var(--font-opensans); 
    border: initial;
    line-height: 1.3;
    color: #002f4f;
    font-size: 14px;
    background-color: rgba(195, 205, 228, 0.2);
}
.home-title-section h4.pdp-alter-title{
    font-size: 19px;
    color: #2e3e6a;
    font-family:var(--font-quicksand);
    margin:0 ;
    text-transform: capitalize;
}
.sec-25{
    width: calc(100% - 18px) !important;
}
/* .alternatives{
    display: flex;
    flex-wrap: wrap;
    width: calc(99.5% + 16px);
    margin: 0 -5px;
} */

.pl-24{
    padding-left: 24px;
}
.image-single{
    height: 500px;
    width: calc(100% - 1.8px);
    border: 1px solid #c3cde480;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.image-thumb{
    height: 110px;
    width: calc(100% - 20px);
    border: 1px solid #c3cde480;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 9px;
}
.image-single .img-item, .image-thumb img{
    height: 100%;
    width: 100%;
    /* max-width: 60%;
    max-height: 70%; */
}
.thumb-slider .slick-list{
    width: calc(100% + 20px);
    margin: 0 -10px;
    display: flex;
    flex-wrap: wrap;
}
.thumb-slider .slick-track{
    margin-left: 0px ;
    margin-right: 0px;
}
.singleImg{
    height: 90% !important;
    max-width: 100% !important;
}
.share-collapse-div{
    position: relative;
    bottom: 40px;
    right: 100px;
}

.share-collapse-div .MuiSvgIcon-root{
    margin-right: 13px;
}

.image-single .shortbook_icon-sec{
    position: absolute;
    top: 13px;
    right: 16px;
    border-bottom: 0.1px solid rgb(240, 237, 237);
    border-radius: 40px;
    padding: 16px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.04);
    cursor: pointer;
    /* transition: 0.2s all linear; */
}

.shortBook_color{
    background-color: #674cf3;
    border-color: none;
}

.wishlist_icon-sec{
    position: absolute;
    top: 75px;
    right: 16px;
    border-bottom: 0.1px solid rgb(240, 237, 237);
    border-radius: 40px;
    padding: 16px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.04);
    cursor: pointer;
}

.desc-sec .product-desc {
    color: var(--dark);
    font-family:var(--font-quicksand); 
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0em;
    padding-left: 1.2em;
    line-height: 24px;
     list-style-type:disc; 
  }
.desc-sec  .product-desc li {
    display: list-item;
}
.left-sec{
   display: flex;
  }
 .auth-input.seller-priority.MuiFormControl-marginNormal{
     margin-bottom: 0;
     margin-right: 0.5em;
     bottom: 4px;
     
 }
 .auth-input.seller-priority .MuiOutlinedInput-adornedStart{
     cursor: pointer;
 }
 .auth-input.seller-priority .MuiInputBase-input{
    cursor: pointer;
 }
.auth-input.seller-priority{
      width: 144px;
  }

  .auth-input.seller-priority .MuiInputBase-input{
    padding-top: 8px;
    padding-bottom: 8px;
  } 
  .auth-input.seller-priority .MuiInputBase-root.Mui-disabled {
    background: rgba(0, 0, 0, 0);
  }
  .priority-collapse-div{
    position: relative;
    right: 9.5em;
    bottom: 20px;
  }
  .priority-collapse-div .profile-dropdown .MuiPaper-root{
    width: 9em;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.16);
  }
  .priority-collapse-div .profile-dropdown .MuiPaper-root::after {
      content: none;
  }
  .down_arrow_icon{
position: relative;
left: 105px;
    bottom: 3px;
  }

  .auth-input.seller-priority .MuiInputAdornment-positionStart {
    margin-right: 0;
    width: 14%;
    text-align: center;
    display: unset;
    height: auto;
    line-height: 0;
    padding: 0 0 0 8px;
}

.pdp-error-msg{
    margin-top: 0;
}

.MuiSnackbar-root .MuiPaper-root{
    padding-right: 20px;
}
.msg-checkbox .MuiSvgIcon-fontSizeLarge {
    font-size: 2rem;
  }
  .msg-checkbox.MuiCheckbox-root {
    color: #c3cde4;
  }
  
  
  .msg-checkbox.MuiCheckbox-root{
    color: #00d3b4;
    padding-left: 4px;
    padding-right: 12px;
    /* margin-right: 7px; */
  }
  .msg-checkbox .MuiFormControlLabel-label {
    font-size: 0.8125em;
    font-family:var(--font-quicksand);
    color: #5b636a;
  }
  .MuiSnackbarContent-message{
    text-transform: capitalize;
  }

  .MuiSnackbarContent-root{
    flex-direction: row-reverse;
    min-width: auto !important;
  }
  .MuiSnackbarContent-action{
      padding-left: 0px !important;
      margin: 0px !important;
  }

  .fast-moving-tile-fav.color{
      width: 22.5px !important;
  }
  .addToWishList{
      position: relative;
  }
  .about-subsec .subsec-title{
margin-bottom: 0.75em;   
}
.desc-sec .product-about-title {
  color: var(--marine-blue);
  font-size: 19px;
  font-family:var(--font-quicksand); 
  margin: 1.14em 0 0.85em 0.35em;
  position: relative;
  display: inline-block;
}
.desc-sec .product-about-title::after {
  display: block;
  content: "";
  position: absolute;
  width: calc(100% + 10px) !important;
  top: .85em;
  left: -5px;
  background-color: transparent;
  background-image: linear-gradient(to right, #674cf3, #674cf300);
  height: 11px;
  width: 100%;
  z-index: -1;
  border-radius: 0 0 0 10px;
}
.product-adout-desc {
  color: #0d1321;
  font-family:var(--font-quicksand); 
  font-size: 16px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 12px;
}
.product-effects {
    font-size: 14px;
    font-family:var(--font-quicksand); 
    margin: 0;
    line-height: 24px;
    color: var(--dark);
}
.product-adout-desc-sub {
  color: var(--dark);
  font-family:var(--font-quicksand); 
  font-size: 14px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 12px;
}
.desc-sec .about-subsec .subsec-title {
    margin-bottom: 12px;
}
.desc-sec .subsec-title {
  font-size: 1em;
  font-family:var(--font-quicksand); 
  font-weight: 600;
  color: var(--dark);
  margin-top: 1.09em;
  margin-bottom: 12px;
}
.desc-sec .subsec-desc {
  font-size: 14px;
  font-family:var(--font-quicksand); 
   color: var(--marine-blue);
  margin: 0;
   color: var(--dark);
}
.desc-sec .subsec-desc span {
  font-family:var(--font-quicksand); 
  color: #0d1321;
}
.desc-sec .MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
    padding-right: 0px !important;
    height: 40px !important;
    width: 72px !important;
    font-family:var(--font-quicksand); 
}
.pdp-flex-container .MuiTableCell-root {
    letter-spacing: initial;
}
.pdp-addtocart {
    width: 112px;
    height: 40px;
    background-color: var(--tealish);
}
.pdp-table .fast-moving-addtocart.Mui-disabled, .colorChange{
    background-color: rgba(0, 47, 79, 0.1) !important;
    border: none !important;
    color: var(--marine-blue) !important;
    font-weight: 600 !important;
}
.pdp-table .colorChange:focus, .pdp-table .colorChange:active {
    color: var(--marine-blue) !important;
}
.pdp-addedtocart, .pdp-addtocart {
    width: 112px;
    height: 40px;
}
.pdp-selectqty {
    width: 72px;
    height: 40px;
}
.pdp-table .pdp-selectqty fieldset legend {
    width: initial !important;
}
.pdp-table .mob-pro-drugcount .MuiOutlinedInput-input {
    font-size:14px !important;
    color: var(--dark) !important;
    font-family: var(--font-opensans) !important;
}
.pdp-sort-by {
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-color: rgba(195, 205, 228, 0.1);
    border-radius: 8px;
    position: relative;
}
.pdp-sort-by img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.pdp-flexinfo-sec .share-link {
    padding-top: 7px;
}
.mr-pd-lr-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}