.details-container{
	background-color: #f6f8fd;
	/* padding-top: 1em; */
}
.details-sec{
	background-color: #ffffff;
	/* padding: 20px 90px; */
	/* padding: 20px; */
	
	/* padding-left: 4.4%;
	padding-right: 5%; */
}
.top-left{
	display: flex;
	justify-content: space-between;
}
._seller-name, .order-id, .address p{
	margin: 0;
	font-size: 27px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.74;
	letter-spacing: normal;
	color: var(--marine-blue);
}
.order-id{
	font-size: 14px;
	font-weight: 600;
	color: var(--dark);
	opacity: 0.8;
	margin: 8px 0 0 0;
	padding: 0;
	line-height: 1.43;
}
.align-right{
	text-align: right;
}
.address p{
	font-size: 16px !important;
	font-weight: 600;
	color: var(--dark);
	line-height: 1.38;
}
.heading{
	opacity: 0.5;
	margin-bottom: 8px;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.43;
	letter-spacing: normal;
	text-align: left;
	color: var(--dark);
}

.heading-content{
	margin-top: 0;
	font-size: 16px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	color: var(--dark);
	word-wrap: break-word;
}

.order-meta{
	max-width: 185px;
}

.due-amt{
	font-size: 39px;
	font-weight: 600;
	line-height: 1.2;
	color: var(--dark);
}
.ordered-products .MuiTableCell-root {
	padding: 12px;
}
/* .billing-address{
	height: 116px;
} */
.mr-top{
	margin-top: -5.3em !important;
	/* margin-top: -7.3em !important; */
}
.mr-left{
	margin-left: 48px;
}
.blue-divider{
	background-color: #674cf3 !important;
	margin-bottom: 10px !important;
}
/* MuiTableRow-root head noBorder MuiTableRow-head */
.MuiTableRow-root.MuiTableRow-head.head{
	border-bottom: none;
}
.MuiTableCell-root.MuiTableCell-body.pricing{
	font-size: 19px !important;
	line-height: 1.05 !important;
}
.payment-breakup-sec{
	position: relative;
	height: 124px;
	border-radius: 8px;
	background-color: rgba(195, 205, 228, 0.08);
}
.ad-sec{
	width: 80%;
	margin: 20px auto;
}

.ad-sec img{
	width: 100%;
}
.layout{
	width: 25%;
	display: flex;
	justify-content: space-between;
	padding: 12px 30px;
	flex-direction: column;
}
.layout p, .sum-total p{
	opacity: 0.5;
	font-size: 16px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	/* line-height: 1.25; */
	line-height: 0.15;
	letter-spacing: normal;
	text-align: left;
	color: #5b636a;
}
.layout .prices{
	font-size: 16px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	/* line-height: 1.25; */
	letter-spacing: normal;
	text-align: left;
	color: #002f4f;
	opacity: 1;
}
.layout .sum-total{
	display: block;
	position: absolute;
	left: 40%;
}
.sum-total .total-amt{
	font-size: 23px;
	font-weight: bold;
	line-height: 0.87;
	color: #002f4f;
	opacity: 1;
}
.download, .print{
	width: 44px;
	height: 44px;
	/* opacity: 0.1; */
	border-radius: 6px;
	background-color: #c3cde4;
	align-items: center;
	margin: 8px 5px;
	text-align: center;
	cursor: pointer;

}
.print{
	background-color: #ff7b20;
	opacity: 1;
}
.print img, .download img{
	display: block;
	margin: auto;
}
.pay-outstanding-btn.MuiButton-root{
	width: 169px;
	height: 44px;
	border-radius: 6px;
	background-color: #674cf3;
	margin: 8px 5px;
	opacity: 0.9;
}

.pay-outstanding-btn.MuiButton-containedPrimary .MuiButton-label {
	font-size: 16px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.81;
	letter-spacing: 0.32px;
	text-align: center;
	color: #ffffff;
	text-transform: capitalize;
}
.action{
	display: flex;
	flex-direction: row;
	position: absolute;
	right: 24px;
	bottom: 7%;
}
.MuiTableCell-root.MuiTableCell-body.net-amt{
	font-weight: bold;
}
@media (max-width: 1279px) and (min-width: 1048px) {
	.action {
		/* right: 13%; */
		right: 14%;
	}
	
	.mr-top {
		margin-top: -8.3em !important;
	}
}
@media (min-width: 768px) and (max-width: 1024px) {
	.payment-breakup-sec{
		margin-top: auto;
	}
	.layout{
		width: 30%;
	}
	.layout .sum-total {
		left: 45%;
	}
	.action{
		bottom: 7%;
		right: 7%;
	}
	.mr-top {
		margin-top: -6.8em !important;
	}
	/* .address {
		font-size: 16px !important;
	} */
	.top-left {
		display: flex;
		align-items: unset;
		justify-content: space-between;
	}
	.order-id {
		font-size: 14px;
	/* line-height: 1.43; */
	/* margin-bottom: 28px; */
	position: absolute;
	top: 104px;
	}
}
/* @media print {
	@page { size: landscape; }
	} */
	.invoice-download-collapse-div{
	position: relative;
	bottom: 23px;
	left: 38px;
	}
/*.order-historypage ._seller-name span{
	display: block;
	color: var(--dark);
	font-size: 14px;
	font-weight: 600;
	opacity: 0.8;
}*/