.combineStore {
	box-shadow: none !important;
	border-bottom: 1px solid rgba(195, 205, 228, 0.7);
}
.combineStore .header-top-sec img{
	padding: 32px 0;
	width: 128px;
}
.pd-l-0 {
	padding-left: 0 !important;
}
.pd-r-0 {
	padding-right: 0 !important;
}
.combineStoreHeader {
	margin: 0 0 32px 0;
	padding: 20px 24px 16px 24px;
	position: relative;
	background: rgba(236, 232, 254, 0.2);
	border-radius: 8px;
}
.combineStoreHeader .text-right {
	position: absolute;
	bottom: 24px;
	right: 24px;
}
.verification-span {
	font-size: 14px;
	font-weight: 600;
	color: rgba(0, 47, 79, 0.5);
	text-transform: uppercase;
}
.combineStoreHeader h1 {
	margin-top: 12px;
	margin-bottom: 0;
	font-weight: 600;
	line-height: 1.5;
	font-size: 19px;
	color: var(--marine-blue);
}
.combineStoreHeader h1 span {
	font-weight: bold;
}
.scrolling {
	margin-top: 24px;
	margin-bottom: 56px;
    max-height: 512px;
    float: left;
    overflow-y: auto;
    width: 100%;
    scrollbar-width: thin !important;
    scrollbar-color: var(--purpleish-blue) #eee;
}
.scrolling::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #eee;
}

.scrolling::-webkit-scrollbar{
    width: 4px;
    background-color: #eee;
}

.scrolling::-webkit-scrollbar-thumb{
    background-color: #674cf3;
    border: 2px solid #674cf3;
}

.sub-container {
    max-width: 1100px;
}
.combineStoreHeader .btn-compain {
	box-shadow: none;
	background-color: var(--purpleish-blue);
	border-radius: 6px;
	text-transform: capitalize;
	padding: 12px 16px;
	font-weight: 600;
	font-size: 14px;
	color: var(--white);
	line-height: 14px;
	letter-spacing: initial;
}
.combineStoreHeader .btn-compain.Mui-disabled, .combineStoreFooterSec .btn-compain.Mui-disabled {
	background-color: var(--purpleish-blue);
	opacity: 0.5;
	color: var(--white);
}
.combineStoreList {
	margin-left: -6px;
	margin-right: -6px;
}

.combineStoreList > [class*='MuiGrid-grid-xs-'] {
	display: flex;
	flex-direction: column;
}
.singleStore {
	flex: 1;
	position: relative;
	margin-left: 6px;
	margin-right: 6px;
	margin-bottom: 12px;
}
.singleStore {
    padding: 16px 24px;
    border-radius: 8px;
    border: solid 1px rgba(195, 205, 228, 0.5);
    background-color: #fff;
}
/* .singleStore:hover{
    border: solid 1px rgba(103, 76, 243, 0.5);
} */
.singleStore1 {
	position: relative;
	margin-left: 6px;
	margin-right: 6px;
	margin-bottom: 12px;
	padding: 16px 24px;
    border-radius: 8px;
    border: solid 1px rgba(195, 205, 228, 0.5);

	/* border: solid 1px rgba(103, 76, 243, 0.5); */
	border: solid 1px rgba(255, 0, 0, 0.5);
	animation: shake 0.5s;
	/* animation-iteration-count: infinite; */
  }
  .singleStore2 {
	position: relative;
	margin-left: 6px;
	margin-right: 6px;
	margin-bottom: 12px;
	padding: 16px 24px;
    border-radius: 8px;
    border: solid 1px rgba(195, 205, 228, 0.5);

	/* border: solid 1px rgba(103, 76, 243, 0.5); */
	border: solid 1px rgba(83, 255, 109, 0.5);
	animation: shake 0.5s;
	/* animation-iteration-count: infinite; */
  }
  
  @keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


.singleStore.active{
    border: solid 1px #674cf370 !important;
}
.singleStore .storeCount {
	opacity: 0.4;
    font-size: 12px;
    font-weight: 600;
    color: var(--dark);
    text-transform: uppercase;
    line-height: 1.17;
}
.singleStore h1 {
	padding: 0;
	margin: 8px 0 16px 0;
	font-size: 19px;
    font-weight: 600;
    line-height: 36px;
    color: var(--dark);
}
.singleStore p {
	width: 99%;
	margin-top: 0;
	margin-bottom: 12px;
	font-size: 16px;
    text-align: left;
    color: var(--dark);
    line-height: 1.5;
    font-family: var(--font-opensans);

    /*white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-transform: capitalize;*/
}


.singleStore1.active{
	border: solid 1px rgba(255, 0, 0, 0.5);
	background-color: #ff00002e;
	
}
.singleStore1 .storeCount {
	opacity: 0.4;
    font-size: 12px;
    font-weight: 600;
    color: var(--dark);
    text-transform: uppercase;
    line-height: 1.17;
}
.singleStore1 h1 {
	padding: 0;
	margin: 8px 0 16px 0;
	font-size: 19px;
    font-weight: 600;
    line-height: 36px;
    color: var(--dark);
}
.singleStore1 p {
	margin-top: 0;
	margin-bottom: 12px;
	font-size: 16px;
    text-align: left;
    color: var(--dark);
    line-height: 1.5;
    font-family: var(--font-opensans);
}


.singleStore2.active{
	border: solid 1px rgba(166, 255, 118, 0.5);
	background-color: #b1ff4b2e;
	
}
.singleStore2 .storeCount {
	opacity: 0.4;
    font-size: 12px;
    font-weight: 600;
    color: var(--dark);
    text-transform: uppercase;
    line-height: 1.17;
}
.singleStore2 h1 {
	padding: 0;
	margin: 8px 0 16px 0;
	font-size: 19px;
    font-weight: 600;
    line-height: 36px;
    color: var(--dark);
}
.singleStore2 p {
	margin-top: 0;
	margin-bottom: 12px;
	font-size: 16px;
    text-align: left;
    color: var(--dark);
    line-height: 1.5;
    font-family: var(--font-opensans);
}











.drugLicense, .gstNo {
	line-height: 1.69;
    font-family: var(--font-opensans);
    font-size: 16px;
    color: var(--dark);
}
.font-weight-600{
	font-weight: 600;	
}
.storeCheck {
	position: absolute;
	right: 0px;
	top: 12px;
}
.combineStoreFooter {
	background-color: rgba(103, 76, 243, 0.04) !important;
	padding: 24px 0;
	box-shadow: none !important;
}
.combineStoreFooterSec .terms {
	position: relative;
}
.combineStoreFooterSec .terms p {
	margin: 0;
	padding: 0 0 0 32px;
	font-weight: 600;
	font-size: 14px;
	color: var(--dark);
	line-height: 1.75;
}
.combineStoreFooterSec .MuiFormControlLabel-root {
	position: absolute;
	left: 0;
	margin-left: 0;
}
.combineStoreFooterSec .MuiIconButton-root {
	padding: 0;
}
.combineStoreFooterSec .takeme {
	text-align: right;
	margin-right: 6px;
}
.btn-takeme {
	text-transform: capitalize !important;
	width: 192px;
	background-color: var(--purpleish-blue);
	border-radius: 6px;
	font-weight: 600;
	color: var(--white);
	font-size: 14px;
	box-shadow: initial;
}
.btn-takeme:hover {
	background-color: var(--purpleish-blue);
}

.CusAutoComplete .MuiAutocomplete-inputRoot{
	padding: 0 !important;
}
.CusAutoComplete .MuiAutocomplete-input {
	padding: 14px 12px !important;
}